#App {
  position:fixed;
  padding:0;
  margin:0;
  text-align: center;
  /* top:0;
  left:0; */

  color: cyan;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.993);
  
}
#anim{
  max-width: 74%;
  max-height: 74%;    
  /* opacity: 0.3; */
}
#logo-text{
  color: white;
}
#settingsButton {
  position: absolute;
  top: 12px;
  right: 48px;
}
#closeButton {
  position: absolute;
  top: 12px;
  right: 16px;
}

#inputarea{
  /* padding: 10px; */
  background-color: black;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-color: black; 
  color: cyan;
  width: 86%;
}